# Vazifa
# Nazariyani takrorlash
# Kaggledan dataset oling va data preprocessing 1-va 2- bo'limini to'liq bajaring
# Koding savol javobga tayyorgarlik

In [114]:
import pandas as pd

In [119]:
df=pd.read_csv('farm_production_dataset.csv')

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   GEO                                     10273 non-null  object
 2   Type of crop                            10272 non-null  object
 3   Average farm price (dollars per tonne)  10243 non-null  float64
 4   Average yield (kilograms per hectare)   10246 non-null  float64
 5   Production (metric tonnes)              10245 non-null  float64
 6   Seeded area (acres)                     9873 non-null   float64
 7   Seeded area (hectares)                  9847 non-null   float64
 8   Total farm value (dollars)              10273 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 722.4+ KB

In [121]:
df.isnull().sum()

REF_DATE                                    0
GEO                                         0
Type of crop                                1
Average farm price (dollars per tonne)     30
Average yield (kilograms per hectare)      27
Production (metric tonnes)                 28
Seeded area (acres)                       400
Seeded area (hectares)                    426
Total farm value (dollars)                  0
dtype: int64

In [133]:
df.head(50)

,REF_DATE,GEO,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
0,1908,AB,Barley,15.00,1585.0,84000.0,129800.0,53000.0,1296
1,1908,AB,Flaxseed,29.00,950.0,1900.0,5900.0,2000.0,56
2,1908,AB,Oats,18.00,1675.0,352000.0,519400.0,210000.0,6316
3,1908,AB,"Rye, all",23.00,1665.0,5000.0,6500.0,3000.0,117
4,1908,AB,Sugar beets,0.55,18100.0,38100.0,5200.0,2100.0,208
5,1908,AB,Tame hay,0.84,5050.0,101000.0,57100.0,20000.0,846
6,1908,AB,"Wheat, all",25.00,1690.0,186000.0,271000.0,110000.0,4617
7,1908,BC,Barley,0.00,0.0,0.0,0.0,0.0,0
8,1908,BC,Oats,0.00,0.0,0.0,0.0,0.0,0
9,1908,BC,"Wheat, all",0.00,0.0,0.0,0.0,0.0,0
10,1908,CA,Barley,21.00,1440.0,1016850.0,1745700.0,707100.0,21353
11,1908,CA,"Beans, all dry (white and coloured)",59.00,1395.0,33800.0,59900.0,24200.0,1988
12,1908,CA,Buckwheat,27.00,1320.0,155700.0,291300.0,117950.0,4269
13,1908,CA,Corn for grain,20.00,3935.0,580600.0,365800.0,147600.0,11834
14,1908,CA,Corn for silage,0.44,25360.0,2665000.0,259800.0,105100.0,11812
15,1908,CA,Flaxseed,38.00,680.0,38100.0,139300.0,56000.0,1457
16,1908,CA,Mixed grains,26.00,1650.0,388750.0,581900.0,235550.0,10140
17,1908,CA,Oats,25.00,1205.0,3861650.0,7911100.0,3200550.0,96489
18,1908,CA,"Peas, dry",31.00,1150.0,192100.0,412900.0,167050.0,5970
19,1908,CA,"Rye, all",29.00,1065.0,43902.0,100300.0,41281.0,1262
20,1908,CA,Sugar beets,0.58,22500.0,98900.0,10800.0,4400.0,578
21,1908,CA,Tame hay,1.17,3120.0,10388000.0,8210900.0,3326000.0,121884
22,1908,CA,"Wheat, all",30.00,1145.0,3060250.0,6610300.0,2676250.0,91228
23,1908,MA,Barley,18.00,1390.0,372000.0,662500.0,268000.0,6705
24,1908,MA,Flaxseed,38.00,790.0,7100.0,23400.0,9000.0,273
25,1908,MA,Oats,21.00,1290.0,690000.0,1322800.0,535000.0,14263
26,1908,MA,"Peas, dry",15.00,1415.0,850.0,1600.0,600.0,13
27,1908,MA,"Rye, all",20.00,1000.0,3000.0,6300.0,3000.0,61
28,1908,MA,Tame hay,0.82,3900.0,195000.0,119200.0,50000.0,1592
29,1908,MA,"Wheat, all",31.00,1145.0,1368000.0,2957000.0,1197000.0,41924
30,1908,MP,Barley,31.00,1525.0,11750.0,19000.0,7700.0,369
31,1908,MP,Mixed grains,27.00,1855.0,20850.0,27700.0,11250.0,556
32,1908,MP,Oats,31.00,1120.0,221450.0,487900.0,197450.0,6786
33,1908,MP,Tame hay,1.08,3470.0,2211000.0,1573800.0,637000.0,23955
34,1908,MP,"Wheat, all",38.00,1085.0,29950.0,68400.0,27650.0,1150
35,1908,NB,Barley,32.00,1215.0,1700.0,3500.0,1400.0,55
36,1908,NB,"Beans, all dry (white and coloured)",77.00,1125.0,900.0,2000.0,800.0,69
37,1908,NB,Buckwheat,27.00,1375.0,34250.0,61700.0,24950.0,909
38,1908,NB,Corn for silage,0.39,22860.0,8000.0,900.0,350.0,31
39,1908,NB,Mixed grains,27.00,1440.0,3100.0,5300.0,2150.0,85
40,1908,NB,Oats,33.00,945.0,78000.0,203900.0,82500.0,2539
41,1908,NB,"Peas, dry",43.00,590.0,650.0,2700.0,1100.0,28
42,1908,NB,"Rye, all",29.00,1260.0,102.0,200.0,81.0,3
43,1908,NB,Tame hay,1.03,3010.0,845000.0,694500.0,281000.0,8664
44,1908,NB,"Wheat, all",42.00,1165.0,9500.0,20200.0,8150.0,402
45,1908,NS,Barley,33.00,1550.0,6050.0,9600.0,3900.0,202
46,1908,NS,"Beans, all dry (white and coloured)",81.00,1200.0,1500.0,3100.0,1250.0,121
47,1908,NS,Buckwheat,30.00,1340.0,9800.0,18000.0,7300.0,295
48,1908,NS,Corn for silage,0.33,16920.0,11000.0,1600.0,650.0,36
49,1908,NS,Mixed grains,30.00,1785.0,5350.0,7400.0,3000.0,161

In [123]:
df['Type of crop']

0                         Barley
1                       Flaxseed
2                           Oats
3                       Rye, all
4                    Sugar beets
                  ...
10268                   Tame hay
10269                 Wheat, all
10270               Wheat, durum
10271              Wheat, spring
10272    Wheat, winter remaining
Name: Type of crop, Length: 10273, dtype: object

In [126]:
df=df.dropna(subset=['Type of crop'],axis=0)

In [130]:
for col in df.columns:#(Har bir ustunni navbatma-navbat olayapti)
   if df[col].isnull().sum()>0:# (Agar ustunda bo‘sh qiymatlar (NaN) mavjud bo‘lsa:)
        if df[col].dtype=='object':#(Ustun turi object (ya'ni, matn) bo‘lsa:)
            df[col].fillna(df[col].mode()[0],inplace=True)# (Eng ko‘p uchraydigan qiymat (mode()[0]) bilan to‘ldir) 
        else:
            df[col].fillna(df[col].mean(),inplace=True)#(Aks holda (ya'ni ustun sonli bo‘lsa), o‘rtacha qiymat bilan to‘ldir)

In [131]:
df.isnull().sum()

REF_DATE                                  0
GEO                                       0
Type of crop                              0
Average farm price (dollars per tonne)    0
Average yield (kilograms per hectare)     0
Production (metric tonnes)                0
Seeded area (acres)                       0
Seeded area (hectares)                    0
Total farm value (dollars)                0
dtype: int64

In [132]:
df.head(10)

,REF_DATE,GEO,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
0,1908,AB,Barley,15.00,1585.0,84000.0,129800.0,53000.0,1296
1,1908,AB,Flaxseed,29.00,950.0,1900.0,5900.0,2000.0,56
2,1908,AB,Oats,18.00,1675.0,352000.0,519400.0,210000.0,6316
3,1908,AB,"Rye, all",23.00,1665.0,5000.0,6500.0,3000.0,117
4,1908,AB,Sugar beets,0.55,18100.0,38100.0,5200.0,2100.0,208
5,1908,AB,Tame hay,0.84,5050.0,101000.0,57100.0,20000.0,846
6,1908,AB,"Wheat, all",25.00,1690.0,186000.0,271000.0,110000.0,4617
7,1908,BC,Barley,0.00,0.0,0.0,0.0,0.0,0
8,1908,BC,Oats,0.00,0.0,0.0,0.0,0.0,0
9,1908,BC,"Wheat, all",0.00,0.0,0.0,0.0,0.0,0

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10272 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10272 non-null  int64
 1   GEO                                     10272 non-null  object
 2   Type of crop                            10272 non-null  object
 3   Average farm price (dollars per tonne)  10272 non-null  float64
 4   Average yield (kilograms per hectare)   10272 non-null  float64
 5   Production (metric tonnes)              10272 non-null  float64
 6   Seeded area (acres)                     10272 non-null  float64
 7   Seeded area (hectares)                  10272 non-null  float64
 8   Total farm value (dollars)              10272 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 802.5+ KB

In [135]:
df['GEO'].value_counts()

GEO
CA     1305
ON     1169
MA     1104
AB     1045
SK      956
QU      952
PP      845
BC      714
NS      630
NB      616
PEI     524
MP      409
NL        2
          1
Name: count, dtype: int64

In [136]:
import category_encoders as ce

In [137]:
encoder=ce.TargetEncoder(cols=['GEO'])
df['GEO_encoded']=encoder.fit_transform(df['GEO'],df['Average farm price (dollars per tonne)'])

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10272 entries, 0 to 10272
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10272 non-null  int64
 1   GEO                                     10272 non-null  object
 2   Type of crop                            10272 non-null  object
 3   Average farm price (dollars per tonne)  10272 non-null  float64
 4   Average yield (kilograms per hectare)   10272 non-null  float64
 5   Production (metric tonnes)              10272 non-null  float64
 6   Seeded area (acres)                     10272 non-null  float64
 7   Seeded area (hectares)                  10272 non-null  float64
 8   Total farm value (dollars)              10272 non-null  int64
 9   GEO_encoded                             10272 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 882.8+ KB

In [141]:
df.drop('GEO',axis=1, inplace=True)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10272 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10272 non-null  int64
 1   Type of crop                            10272 non-null  object
 2   Average farm price (dollars per tonne)  10272 non-null  float64
 3   Average yield (kilograms per hectare)   10272 non-null  float64
 4   Production (metric tonnes)              10272 non-null  float64
 5   Seeded area (acres)                     10272 non-null  float64
 6   Seeded area (hectares)                  10272 non-null  float64
 7   Total farm value (dollars)              10272 non-null  int64
 8   GEO_encoded                             10272 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 802.5+ KB

In [143]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [144]:
df['Type of crop']=encoder.fit_transform(df['Type of crop'])

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10272 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10272 non-null  int64
 1   Type of crop                            10272 non-null  int64
 2   Average farm price (dollars per tonne)  10272 non-null  float64
 3   Average yield (kilograms per hectare)   10272 non-null  float64
 4   Production (metric tonnes)              10272 non-null  float64
 5   Seeded area (acres)                     10272 non-null  float64
 6   Seeded area (hectares)                  10272 non-null  float64
 7   Total farm value (dollars)              10272 non-null  int64
 8   GEO_encoded                             10272 non-null  float64
dtypes: float64(6), int64(3)
memory usage: 802.5 KB

In [147]:
df.head(50)

,REF_DATE,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars),GEO_encoded
0,1908,0,15.00,1585.0,84000.0,129800.0,53000.0,1296,60.415472
1,1908,6,29.00,950.0,1900.0,5900.0,2000.0,56,60.415472
2,1908,10,18.00,1675.0,352000.0,519400.0,210000.0,6316,60.415472
3,1908,12,23.00,1665.0,5000.0,6500.0,3000.0,117,60.415472
4,1908,16,0.55,18100.0,38100.0,5200.0,2100.0,208,60.415472
5,1908,18,0.84,5050.0,101000.0,57100.0,20000.0,846,60.415472
6,1908,19,25.00,1690.0,186000.0,271000.0,110000.0,4617,60.415472
7,1908,0,0.00,0.0,0.0,0.0,0.0,0,55.677187
8,1908,10,0.00,0.0,0.0,0.0,0.0,0,55.677187
9,1908,19,0.00,0.0,0.0,0.0,0.0,0,55.677187
10,1908,0,21.00,1440.0,1016850.0,1745700.0,707100.0,21353,71.185347
11,1908,1,59.00,1395.0,33800.0,59900.0,24200.0,1988,71.185347
12,1908,2,27.00,1320.0,155700.0,291300.0,117950.0,4269,71.185347
13,1908,4,20.00,3935.0,580600.0,365800.0,147600.0,11834,71.185347
14,1908,5,0.44,25360.0,2665000.0,259800.0,105100.0,11812,71.185347
15,1908,6,38.00,680.0,38100.0,139300.0,56000.0,1457,71.185347
16,1908,8,26.00,1650.0,388750.0,581900.0,235550.0,10140,71.185347
17,1908,10,25.00,1205.0,3861650.0,7911100.0,3200550.0,96489,71.185347
18,1908,11,31.00,1150.0,192100.0,412900.0,167050.0,5970,71.185347
19,1908,12,29.00,1065.0,43902.0,100300.0,41281.0,1262,71.185347
20,1908,16,0.58,22500.0,98900.0,10800.0,4400.0,578,71.185347
21,1908,18,1.17,3120.0,10388000.0,8210900.0,3326000.0,121884,71.185347
22,1908,19,30.00,1145.0,3060250.0,6610300.0,2676250.0,91228,71.185347
23,1908,0,18.00,1390.0,372000.0,662500.0,268000.0,6705,64.966277
24,1908,6,38.00,790.0,7100.0,23400.0,9000.0,273,64.966277
25,1908,10,21.00,1290.0,690000.0,1322800.0,535000.0,14263,64.966277
26,1908,11,15.00,1415.0,850.0,1600.0,600.0,13,64.966277
27,1908,12,20.00,1000.0,3000.0,6300.0,3000.0,61,64.966277
28,1908,18,0.82,3900.0,195000.0,119200.0,50000.0,1592,64.966277
29,1908,19,31.00,1145.0,1368000.0,2957000.0,1197000.0,41924,64.966277
30,1908,0,31.00,1525.0,11750.0,19000.0,7700.0,369,51.523496
31,1908,8,27.00,1855.0,20850.0,27700.0,11250.0,556,51.523496
32,1908,10,31.00,1120.0,221450.0,487900.0,197450.0,6786,51.523496
33,1908,18,1.08,3470.0,2211000.0,1573800.0,637000.0,23955,51.523496
34,1908,19,38.00,1085.0,29950.0,68400.0,27650.0,1150,51.523496
35,1908,0,32.00,1215.0,1700.0,3500.0,1400.0,55,48.276799
36,1908,1,77.00,1125.0,900.0,2000.0,800.0,69,48.276799
37,1908,2,27.00,1375.0,34250.0,61700.0,24950.0,909,48.276799
38,1908,5,0.39,22860.0,8000.0,900.0,350.0,31,48.276799
39,1908,8,27.00,1440.0,3100.0,5300.0,2150.0,85,48.276799
40,1908,10,33.00,945.0,78000.0,203900.0,82500.0,2539,48.276799
41,1908,11,43.00,590.0,650.0,2700.0,1100.0,28,48.276799
42,1908,12,29.00,1260.0,102.0,200.0,81.0,3,48.276799
43,1908,18,1.03,3010.0,845000.0,694500.0,281000.0,8664,48.276799
44,1908,19,42.00,1165.0,9500.0,20200.0,8150.0,402,48.276799
45,1908,0,33.00,1550.0,6050.0,9600.0,3900.0,202,49.177286
46,1908,1,81.00,1200.0,1500.0,3100.0,1250.0,121,49.177286
47,1908,2,30.00,1340.0,9800.0,18000.0,7300.0,295,49.177286
48,1908,5,0.33,16920.0,11000.0,1600.0,650.0,36,49.177286
49,1908,8,30.00,1785.0,5350.0,7400.0,3000.0,161,49.177286