# Kutubxonalar

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aaa\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\aaa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaa\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aaa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aaa\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd

# Ternary Conditions

In [ ]:
x=int(input('Sonni kiriting:'))
if x>0:
    print('Berilgan son musbat')
elif x<0:
    print('Berilgan son manfiy')
else:
    print('Berilgan son nolga teng') # manfiy 25 kiritildi

Berilgan son manfiy

In [13]:
'Berilgan son musbat' if x>0 else 'Berilgan son manfiy' if x<0 else 'Berilgan son nolga teng'

'Berilgan son manfiy'

In [16]:
a=int(input('a sonni kiriting'))
'Berilgan son juft son' if a%2==0 else 'Berilgan son toq son'

'Berilgan son juft son'

# 4-dars uchun vazifa

In [ ]:
# Istalgan son berilganda uni musbat yoki manfiyligini aniqlovchi dastur tuzing
x=int(input('Sonni kiriting:'))
'Berilgan son musbat' if x>0 else 'Berilgan son manfiy' if x<0 else 'Berilgan son nolga teng'# Ternary condition usuli orqali
# yoki quyidagicha if/else bilan ham ishlash mumkin
# x=int(input('Sonni kiriting:'))
# if x>0:
    # print('Berilgan son musbat')
# elif x<0:
    # print('Berilgan son manfiy')
# else:
    # print('Berilgan son nolga teng') # manfiy 25 kiritildi

In [ ]:
# Istalgan son berilganda uni 5 ga bo'linishini aniqlovchi dastur tuzing
a=int(input('Sonni kiriting'))
if a%5==0:
    print("Kiritilgan son 5 ga bo'linadi")
else:
    print("Berilgan son 5 ga bo'linmaydi")

Berilgan son 5 ga bo'linmaydi

In [8]:
# Agar berilgan so'zning dastlabki xarfi unli bo'lsa unli harf degan xabarni chiqaring aks xolda undosh harf degan xabarni chiqaring
s=str(input("So'zni kiriting"))
if s[0]=='a' or s[0]=='e' or s[0]=='i' or s[0]=='o' or s[0]=='u' or  s[0]=="o'":
    print('Unli harf')
else:
    print('undosh')

undosh

In [ ]:
df=pd.read_csv('climate_disease_dataset.csv') # datasetimizni o'ng tomonga olish

In [ ]:
df.info() # dataset haqida umumiy ma'lumot

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34560 entries, 0 to 34559
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                34560 non-null  int64
 1   month               34560 non-null  int64
 2   country             34560 non-null  object
 3   region              34560 non-null  object
 4   avg_temp_c          34560 non-null  float64
 5   precipitation_mm    34560 non-null  float64
 6   air_quality_index   34560 non-null  float64
 7   uv_index            34560 non-null  float64
 8   malaria_cases       34560 non-null  int64
 9   dengue_cases        34560 non-null  int64
 10  population_density  34560 non-null  int64
 11  healthcare_budget   34560 non-null  int64
dtypes: float64(4), int64(6), object(2)
memory usage: 3.2+ MB

In [ ]:
df.head(10)# datasetning boshidan 10 ta qatorni ko'rish

,year,month,country,region,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
0,2000,1,Palestinian Territory,Central,28.132468,152.083870,110.487231,12.000000,53,145,113,1068
1,2000,2,Palestinian Territory,Central,30.886500,119.591418,83.467928,12.000000,132,48,113,1068
2,2000,3,Palestinian Territory,Central,31.366433,95.876124,93.095292,12.000000,34,80,113,1068
3,2000,4,Palestinian Territory,Central,28.481870,175.315731,105.530192,9.395894,23,133,113,1068
4,2000,5,Palestinian Territory,Central,26.890370,191.445990,60.205979,9.935726,39,74,113,1068
5,2000,6,Palestinian Territory,Central,21.390153,185.067126,97.271853,10.538685,106,54,113,1068
6,2000,7,Palestinian Territory,Central,16.795183,155.611863,102.815324,12.000000,42,93,113,1068
7,2000,8,Palestinian Territory,Central,13.049006,231.756604,102.124757,12.000000,100,88,113,1068
8,2000,9,Palestinian Territory,Central,16.924361,114.814328,91.631532,11.069241,56,52,113,1068
9,2000,10,Palestinian Territory,Central,15.933061,171.352306,103.922739,8.116281,78,120,113,1068

In [ ]:
df.tail() #oxiridan 5 tasini ko'rish

,year,month,country,region,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
34555,2023,8,Philippines,East,13.040751,369.269763,70.218442,12.000000,149,36,52,399
34556,2023,9,Philippines,East,9.811456,271.028130,74.749481,8.432640,56,47,52,399
34557,2023,10,Philippines,East,12.308443,228.392496,91.096407,8.034754,104,22,52,399
34558,2023,11,Philippines,East,20.197689,196.673067,128.859240,12.000000,142,66,52,399
34559,2023,12,Philippines,East,21.095164,255.248416,58.031208,11.046620,152,104,52,399

In [ ]:
df.describe() # umumiy ma'lumot olish uchun

,year,month,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
count,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000
mean,2011.500000,6.500000,20.395234,192.667977,43.787766,10.210855,70.519560,75.941464,266.900000,2764.650000
std,6.922287,3.452102,8.410940,90.503990,33.079697,1.936540,46.130774,37.323807,136.001073,1418.119148
min,2000.000000,1.000000,-2.557056,0.000000,0.000000,0.870704,0.000000,0.000000,50.000000,205.000000
25%,2005.750000,3.750000,14.404089,124.641424,15.322767,8.921094,32.000000,48.000000,136.250000,1435.500000
50%,2011.500000,6.500000,20.351749,195.315309,40.685931,10.760990,69.000000,76.000000,277.500000,2859.000000
75%,2017.250000,9.250000,26.342978,260.147603,68.402041,12.000000,107.000000,104.000000,384.750000,3996.750000
max,2023.000000,12.000000,44.583564,485.704079,168.847690,12.000000,201.000000,181.000000,498.000000,4969.000000

In [ ]:
df.isnull().sum() # tushirib qoldirilgan qiymatlarni tekshirish uchun

year                  0
month                 0
country               0
region                0
avg_temp_c            0
precipitation_mm      0
air_quality_index     0
uv_index              0
malaria_cases         0
dengue_cases          0
population_density    0
healthcare_budget     0
dtype: int64

In [17]:
df['air_quality_index']

0        110.487231
1         83.467928
2         93.095292
3        105.530192
4         60.205979
            ...
34555     70.218442
34556     74.749481
34557     91.096407
34558    128.859240
34559     58.031208
Name: air_quality_index, Length: 34560, dtype: float64

In [18]:
df['country'].value_counts()

country
Palestinian Territory                           288
Macao                                           288
Antarctica (the territory South of 60 deg S)    288
Slovenia                                        288
Saint Helena                                    288
                                               ...
Liechtenstein                                   288
Myanmar                                         288
Syrian Arab Republic                            288
Chile                                           288
Philippines                                     288
Name: count, Length: 120, dtype: int64

In [19]:
df['country'] # country qiymatini ichida nimalar borligini ko'rish

0        Palestinian Territory
1        Palestinian Territory
2        Palestinian Territory
3        Palestinian Territory
4        Palestinian Territory
                 ...
34555              Philippines
34556              Philippines
34557              Philippines
34558              Philippines
34559              Philippines
Name: country, Length: 34560, dtype: object